###############################################################################
# Normalização automática de EOF
###############################################################################
* text=auto